header {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    background-color:  #c2d6d6;
    text-shadow: 0 0.5px black;


}

.title {
  font-size: 25px;
  font-family: "Lucida Console", Courier, monospace;
  font-weight: bold;
  color: white;
}
